/* Estilos para Header */
.reverse-color {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.reverse-color:hover {
  color: var(--second-text-color);
}

.ml-lg {
  margin-right: 2.875rem;
}

.mobile-menu {
  display: initial;
  z-index: 3;
}

.mobile-menu-content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding-top: 2.25rem;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  transition: all 0.3s ease;
}

.mobile-menu-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.mobile-menu-content a {
  font-size: var(--fs-lg);
  transition: color 0.3s ease;
}

@media (min-width: 1280px) {
  header {
      position: relative;
      z-index: 1;
  }

  nav > img {
      display: initial;
  }

  .mobile-menu {
      display: none;
  }

  .mobile-menu-content {
      display: none;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}